<!DOCTYPE html>
<html lang="en">
<head>
    <title>SJourney</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/booking/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/booking/css/animate.css">

    <link rel="stylesheet" href="~/Content/booking/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/booking/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/booking/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/booking/css/aos.css">

    <link rel="stylesheet" href="~/Content/booking/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/booking/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/booking/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Content/booking/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/booking/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/booking/css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .price mr-2 {
            font-weight: bold;
            color: #01b3a7;
        }
    </style>
</head>
<body>

    <div class="hero-wrap" style="background-image: url('../../images/danang.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
                <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                    <div class="text">
                        <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Trang chủ</a></span> <span class="mr-2"><a href="rooms.html">Danh sách Tour</a></span> <span>Chi tiết Tour</span></p>
                        <h1 class="mb-4 bread">SJourney's Tour</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="ftco-section" style="padding: 1em;">
        <div class="container">
            <!-- <div class="row"> -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="row" style="text-align: left;">
                            <div class="col-md-9">
                                <p style="font-size: 14px; color: blue;"><i class="fa fa-ticket" aria-hidden="true"></i> <span>NDSGN3383-014-130424VN-D</span></p>
                                <p style="font-weight: 600; font-family: Arial, Helvetica, sans-serif; font-size: 25px;"><a href="rooms-single.html">DU LỊCH HUẾ -THIỀN VIỆN TRÚC LÂM BẠCH MÃ - HỘI AN - ĐÀ NẴNG - BÀ NÀ - BẢO TÀNG TRANH 3D [LỄ 30/04]</a></p>
                            </div>
                            <div class="col-md-3">
                                <p style="background-color: #FEA116; font-size: 20px; margin-top: 20px; text-align: center"><a href="booking.html" class="" style="color: white; display: inline-block; padding: 15px 0px;">ĐẶT NGAY <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="single-slider owl-carousel" style="min-width: 1000px; margin-top:0px">
                            <div class="item">
                                <div class="room-img" style="background-image: url(../../images/dndem.jpg);"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url(../../images/nhabap.jpg);"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url(../../images/danang.jpg);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate" style="display:flex;">
                        <div style="flex: 40%;">
                            <p style="text-align: justify; font-size: 14px; color: #343434; border: 1px solid gray; width: 100%; height: 223px; overflow-x: hidden; overflow-y: auto; padding: 15px; margin: 0px; ">
                                Đặc biệt, đến với Đà Nẵng trong thời điểm 02/6 - 08/7/2024, Quý khách không thể bỏ lỡ Lễ Hội Pháo Hoa Quốc Tế Đà Nẵng (DIFF 2024) với chủ đề “Thế Giới không khoảng cách” tôn vinh sự phục hồi du lịch thế giới và là một trong những sự kiện đáng mong chờ nhất trong năm. Đến với lễ hội năm nay, Quý khách sẽ được mãn nhãn với những màn trình diễn tranh tài vô cùng sáng tạo, hoành tráng từ 8 quốc gia: Việt Nam, Phần Lan, Canada, Pháp, Úc, Ý, Ba Lan và Anh. Đồng hành cùng DIFF 2024 là chuỗi hoạt động, sự kiện âm nhạc, lễ hội, ẩm thực… đa dạng, đa văn hóa, hứa hẹn sẽ đem tới cho du khách những trải nghiệm thú vị nhất mùa hè này.
                            </p>
                            <div class="d-md-flex mt-5 mb-5" style="font-size: 14px; background-color: #f8f5f5; padding: 20px 10px; border-radius: 8px;">
                                <ul class="list" style="display: flex; flex-direction: column; align-items: flex-start; ">
                                    <li><span class="per">Khởi hành: </span> <span class="price mr-2" style="font-weight: bold; color: #01b3a7;">22/03/2024</span></li>
                                    <li><span class="per">Giờ đi: </span> <span class="price mr-2" style="font-weight: bold; color: #01b3a7;">10:12</span></li>
                                    <li><span class="per">Thời gian: </span> <span class="price mr-2" style="font-weight: bold; color: #01b3a7;">5 ngày</span></li>
                                </ul>
                                <ul class="list ml-md-5" style="display: flex; flex-direction: column; align-items: flex-start; ">
                                    <li><span>Nơi khởi hành: </span><span class="price mr-2" style="font-weight: bold; color: #01b3a7;">Đà Nẵng</span></li>
                                    <li><span>Số chỗ còn nhận: </span><span class="price mr-2" style="font-weight: bold; color: #01b3a7;">10</span></li>
                                </ul>
                            </div>
                        </div>
                        <section class="instagram" style="flex: 60%;">
                            <div class="container-fluid" style="text-align: justify;">
                                <div class="row no-gutters">
                                    <div class="col-sm-3" style="padding: 0px 10px; margin-bottom: 20px;">
                                        <div><img width="25" height="25" alt="" src="~/images/thoi gian.jpg"></div>
                                        <div style="color: black;">
                                            <div style="font-size: 16px; font-weight: 600;">Thời gian</div>
                                            <div style="font-size: 12px; color: black;">4 ngày 3 đêm</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0px 10px; margin-bottom: 20px;">
                                        <div><img width="25" height="25" alt="" src="~/images/phuong tien di chuyen.jpg"></div>
                                        <div style="color: black;">
                                            <div style="font-size: 16px; font-weight: 600;">Phương tiện di chuyển</div>
                                            <div style="font-size: 12px; color: black;">Máy bay</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0px 10px; margin-bottom: 20px;">
                                        <div><img width="25" height="25" alt="" src="~/images/diem tham quan.jpg"></div>
                                        <div style="color: black;">
                                            <div style="font-size: 16px; font-weight: 600;">Điểm tham quan</div>
                                            <div style="font-size: 12px; color: black;">Đà Nẵng, Huế, Đại Nội, Bà Nà, Sơn Trà, Hội An, Động Phong Nha, Chùa Thiên Mụ, Ngũ Hành Sơn</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0px 10px; margin-bottom: 20px;">
                                        <div><img width="25" height="25" alt="" src="~/images/am thuc.jpg"></div>
                                        <div style="color: black;">
                                            <div style="font-size: 16px; font-weight: 600;">Ẩm thực</div>
                                            <div style="font-size: 12px; color: black;">Buffet sáng, Theo thực đơn, Đặc sản địa phương</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0px 10px; margin-bottom: 20px;">
                                        <div><img width="25" height="25" alt="" src="~/images/khach san.jpg"></div>
                                        <div style="color: black;">
                                            <div style="font-size: 16px; font-weight: 600;">Khách sạn</div>
                                            <div style="font-size: 12px; color: black;">Khách sạn 4 sao</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0px 10px; margin-bottom: 20px;">
                                        <div><img width="25" height="25" alt="" src="~/images/thoi gian ly tuong.jpg"></div>
                                        <div style="color: black;">
                                            <div style="font-size: 16px; font-weight: 600;">Thời gian lý tưởng</div>
                                            <div style="font-size: 12px; color: black;">Quanh năm</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0px 10px; margin-bottom: 20px;">
                                        <div><img width="25" height="25" alt="" src="~/images/doi tuong thich hop.jpg"></div>
                                        <div style="color: black;">
                                            <div style="font-size: 16px; font-weight: 600;">Đối tượng thích hợp</div>
                                            <div style="font-size: 12px; color: black;">Cặp đôi, Gia đình nhiều thế hệ</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0px 10px; margin-bottom: 20px;">
                                        <div><img width="25" height="25" alt="" src="~/images/uu dai.jpg"></div>
                                        <div style="color: black;">
                                            <div style="font-size: 16px; font-weight: 600;">Ưu đãi</div>
                                            <div style="font-size: 12px; color: black;">Đã bao gồm ưu đãi trong giá tour</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <section class="section section-sm section-top-0 section-fluid section-relative bg-gray-4" style="margin-top:-3rem">
            <div class="container-fluid">
                <h2 style="font-family: Arial, Helvetica, sans-serif;"><span>Những địa điểm tham quan</span></h2>
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-classic owl-dots-secondary" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="5" data-xxl-items="6" data-stage-padding="15" data-xxl-stage-padding="0" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary" style="border-radius: 10px; overflow: hidden;">
                        <div class="thumbnail-mary-figure">
                            <img src="~/images/danang.jpg" alt="" width="270" height="195" />
                        </div>
                    </article>
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary" style="border-radius: 10px; overflow: hidden;">
                        <div class="thumbnail-mary-figure">
                            <img src="~/images/danang.jpg" alt="" width="270" height="195" />
                        </div>
                    </article>
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary" style="border-radius: 10px; overflow: hidden;">
                        <div class="thumbnail-mary-figure">
                            <img src="~/images/danang.jpg" alt="" width="270" height="195" />
                        </div>
                    </article>
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary" style="border-radius: 10px; overflow: hidden;">
                        <div class="thumbnail-mary-figure">
                            <img src="~/images/danang.jpg" alt="" width="270" height="195" />
                        </div>
                    </article>
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary" style="border-radius: 10px; overflow: hidden;">
                        <div class="thumbnail-mary-figure">
                            <img src="~/images/danang.jpg" alt="" width="270" height="195" />
                        </div>
                    </article>
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary" style="border-radius: 10px; overflow: hidden;">
                        <div class="thumbnail-mary-figure">
                            <img src="~/images/danang.jpg" alt="" width="270" height="195" />
                        </div>
                    </article>
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary" style="border-radius: 10px; overflow: hidden;">
                        <div class="thumbnail-mary-figure">
                            <img src="~/images/danang.jpg" alt="" width="270" height="195" />
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="instagram">
            <div class="container-fluid">
                <div class="row no-gutters justify-content-center pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <h2 style="font-family: Arial, Helvetica, sans-serif;"><span>Lịch trình</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div>Timeline</div>
                    </div>
                    <div class="col-sm-8">
                        <div>Detail Timeline</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="instagram pt-5">
            <div class="container-fluid" style="text-align: justify;">
                <div class="row no-gutters justify-content-center pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <h2 style="font-family: Arial, Helvetica, sans-serif;"><span>Những thông tin cần lưu ý</span></h2>
                    </div>
                </div>
                <div class="row no-gutters" style="margin-top:0px">
                    <div class="col-sm-4" style="padding: 0px 10px; margin-bottom: 20px;">
                        <h4 id="note-1" style="cursor: pointer; font-family: Arial, Helvetica, sans-serif;"><span>Giá tour bao gồm</span> <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                        <div id="content-note_1" style="display: none;">
                            - Xe tham quan (15, 25, 35, 45 chỗ tùy theo số lượng khách) theo chương trình<br>
                            - Vé máy bay khứ hồi<br>
                            - Hành lý ký gửi: Vietnamairlines: 23 kg ký gửi + 10 kg xách tay (1 kiện); các hãng khác: 20 kg ký gửi + 7 kg xách tay<br>
                            - Khách sạn theo tiêu chuẩn 2 khách/phòng hoặc 3 khách/phòng<br>
                            - Ăn theo chương trình, thực đơn món Việt (set menu)<br>
                            - Bảo hiểm du lịch với mức bồi thường cao nhất 120.000.000đ/vụ<br>
                            - Nón Vietravel + Nước suối + Khăn lạnh<br>
                            - Thuế VAT<br>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0px 10px; margin-bottom: 20px;">
                        <h4 id="note-2" style="cursor: pointer; font-family: Arial, Helvetica, sans-serif;"><span>Giá tour không bao gồm</span> <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                        <div id="content-note_2" style="display: none;">
                            - Vé cáp treo Bà Nà và 01 bữa trưa tại Bà Nà.<br>
                            - Chi phí hủy đổi hành trình bay, hành lý quá cước, giặt ủi,…<br>
                            - Chi phí cá nhân trong quá trình đi tour.<br>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0px 10px; margin-bottom: 20px;">
                        <h4 id="note-3" style="cursor: pointer; font-family: Arial, Helvetica, sans-serif;"><span>Điều kiện thanh toán</span> <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                        <div id="content-note_3" style="display: none;">
                            - Khi đăng ký đặt cọc 50% số tiền tour.<br>
                            - Thanh toán hết trước ngày khởi hành 7-10 ngày (tour ngày thường), 20-25 ngày (tour lễ tết).<br>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0px 10px;">
                        <h4 id="note-4" style="cursor: pointer; font-family: Arial, Helvetica, sans-serif;"><span>Lưu ý khi chuyển/hủy tour</span> <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                        <div id="content-note_4" style="display: none;">
                            - Sau khi đóng tiền, nếu Quý khách muốn chuyển/hủy tour xin vui lòng mang Vé Du Lịch đến văn phòng đăng ký tour để làm thủ tục chuyển/hủy tour và chịu mất phí theo quy định của SJourney.<br>
                            - Không giải quyết các trường hợp liên hệ chuyển/hủy tour qua điện thoại.
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0px 10px;">
                        <h4 id="note-5" style="cursor: pointer; font-family: Arial, Helvetica, sans-serif;"><span>Trường hợp bất khả kháng</span> <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                        <div id="content-note_5" style="display: none;">
                            Nếu chương trình du lịch bị hủy bỏ hoặc thay đổi bởi một trong hai bên vì lý do bất khả kháng (hỏa hoạn, thời tiết, tai nạn, thiên tai, chiến tranh, dịch bệnh, hoãn, dời, và hủy chuyến hoặc thay đổi khác của các phương tiện vận chuyển công cộng hoặc các sự kiến bất khả kháng khác theo quy định pháp luật…), thì hai bên sẽ không chịu bất kỳ nghĩa vụ bồi hoàn các tổn thất đã xảy ra và không chịu bất kỳ trách nhiệm pháp lý nào.<br>
                            Tuy nhiên mỗi bên có trách nhiệm cố gắng tối đa để giúp đỡ bên bị thiệt hại nhằm giảm thiểu các tổn thất gây ra vì lý do bất khả kháng.
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0px 10px;">
                        <h4 id="note-6" style="cursor: pointer; font-family: Arial, Helvetica, sans-serif;"><span>Liên hệ</span> <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                        <div id="content-note_6" style="display: none;">
                            - Thông tin tour và giá tour có thể thay đổi tại thời điểm đăng ký và thanh toán.<br>
                            - Mọi chi tiết xin vui lòng liên hệ<br>
                            - Tổng đài tư vấn 1900 1839<br>
                            - Công ty du lịch SJourney 190 Pasteur, Phường Thanh Bình, Quận Hải Châu, TP.Đà Nẵng<br>


                            KÍNH CHÚC QUÝ KHÁCH CÓ MỘT CHUYẾN DU LỊCH VUI VẺ!
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="col-md-12 room-single ftco-animate mb-5 mt-5">
            <h4 style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;" class="mb-4">Có thể Quý khách sẽ thích</h4>
            <div class="row">
                <div class="col-sm col-md-3 ftco-animate">
                    <div class="room">
                        <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/nhabap.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </a>
                        <div class="text p-3 text-center">
                            <h6 class="mb-3" style="margin: 0px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; font-family: Arial, Helvetica, sans-serif; font-weight: 600; font-size: 16px; text-align: left">
                                <a style="color: black;" href="rooms.html">Đà Nẵng - Bà Nà - Cầu Vàng - Sơn Trà - Hội An - Rừng Dừa Bảy Mẫu - Đà Nẵng (Khách sạn 4* trọn tour)</a>
                            </h6>
                            <p style="text-align: left; margin-top: -15px; font-size: 14px"><span>Nơi khởi hành</span> <span>Đà Nẵng</span></p>
                            <p><span class="price mr-2">20.00 ₫</span></p>
                            <hr>
                            <div style="display: flex">
                                <p style="flex: 30%; background-color: #FEA116; font-size: 12px; text-align: center; margin: 0px; margin-right: 10px; border-radius: 5px;"><a href="booking.html" class="" style="color: white; display: inline-block; padding: 10px 0px;">ĐẶT NGAY</a></p>
                                <p style="flex: 30%; background-color: white; font-size: 12px; text-align: center; margin: 0px; margin-left: 10px; padding: 10px 0px; border: 1px solid black; border-radius: 5px;" class=""><a href="room-single.html" class="btn-custom">Xem chi tiết <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-3 ftco-animate">
                    <div class="room">
                        <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/nhabap.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </a>
                        <div class="text p-3 text-center">
                            <h6 class="mb-3" style="margin: 0px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; font-family: Arial, Helvetica, sans-serif; font-weight: 600; font-size: 16px; text-align: left">
                                <a style="color: black;" href="rooms.html">Đà Nẵng - Bà Nà - Cầu Vàng - Sơn Trà - Hội An - Rừng Dừa Bảy Mẫu - Đà Nẵng (Khách sạn 4* trọn tour)</a>
                            </h6>
                            <p style="text-align: left; margin-top: -15px; font-size: 14px"><span>Nơi khởi hành</span> <span>Đà Nẵng</span></p>
                            <p><span class="price mr-2">20.00 ₫</span></p>
                            <hr>
                            <div style="display: flex">
                                <p style="flex: 30%; background-color: #FEA116; font-size: 12px; text-align: center; margin: 0px; margin-right: 10px; border-radius: 5px;"><a href="booking.html" class="" style="color: white; display: inline-block; padding: 10px 0px;">ĐẶT NGAY</a></p>
                                <p style="flex: 30%; background-color: white; font-size: 12px; text-align: center; margin: 0px; margin-left: 10px; padding: 10px 0px; border: 1px solid black; border-radius: 5px;" class=""><a href="room-single.html" class="btn-custom">Xem chi tiết <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-3 ftco-animate">
                    <div class="room">
                        <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/nhabap.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </a>
                        <div class="text p-3 text-center">
                            <h6 class="mb-3" style="margin: 0px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; font-family: Arial, Helvetica, sans-serif; font-weight: 600; font-size: 16px; text-align: left">
                                <a style="color: black;" href="rooms.html">Đà Nẵng - Bà Nà - Cầu Vàng - Sơn Trà - Hội An - Rừng Dừa Bảy Mẫu - Đà Nẵng (Khách sạn 4* trọn tour)</a>
                            </h6>
                            <p style="text-align: left; margin-top: -15px; font-size: 14px"><span>Nơi khởi hành</span> <span>Đà Nẵng</span></p>
                            <p><span class="price mr-2">20.00 ₫</span></p>
                            <hr>
                            <div style="display: flex">
                                <p style="flex: 30%; background-color: #FEA116; font-size: 12px; text-align: center; margin: 0px; margin-right: 10px; border-radius: 5px;"><a href="booking.html" class="" style="color: white; display: inline-block; padding: 10px 0px;">ĐẶT NGAY</a></p>
                                <p style="flex: 30%; background-color: white; font-size: 12px; text-align: center; margin: 0px; margin-left: 10px; padding: 10px 0px; border: 1px solid black; border-radius: 5px;" class=""><a href="room-single.html" class="btn-custom">Xem chi tiết <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-3 ftco-animate">
                    <div class="room">
                        <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/nhabap.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </a>
                        <div class="text p-3 text-center">
                            <h6 class="mb-3" style="margin: 0px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; font-family: Arial, Helvetica, sans-serif; font-weight: 600; font-size: 16px; text-align: left">
                                <a style="color: black;" href="rooms.html">Đà Nẵng - Bà Nà - Cầu Vàng - Sơn Trà - Hội An - Rừng Dừa Bảy Mẫu - Đà Nẵng (Khách sạn 4* trọn tour)</a>
                            </h6>
                            <p style="text-align: left; margin-top: -15px; font-size: 14px"><span>Nơi khởi hành</span> <span>Đà Nẵng</span></p>
                            <p><span class="price mr-2">20.00 ₫</span></p>
                            <hr>
                            <div style="display: flex">
                                <p style="flex: 30%; background-color: #FEA116; font-size: 12px; text-align: center; margin: 0px; margin-right: 10px; border-radius: 5px;"><a href="booking.html" class="" style="color: white; display: inline-block; padding: 10px 0px;">ĐẶT NGAY</a></p>
                                <p style="flex: 30%; background-color: white; font-size: 12px; text-align: center; margin: 0px; margin-left: 10px; padding: 10px 0px; border: 1px solid black; border-radius: 5px;" class=""><a href="room-single.html" class="btn-custom">Xem chi tiết <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

        <script src="~/js/bookingJS/jquery.min.js"></script>
        <script src="~/js/bookingJS/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/js/bookingJS/popper.min.js"></script>
        <script src="~/js/bookingJS/bootstrap.min.js"></script>
        <script src="~/js/bookingJS/jquery.easing.1.3.js"></script>
        <script src="~/js/bookingJS/jquery.waypoints.min.js"></script>
        <script src="~/js/bookingJS/jquery.stellar.min.js"></script>
        <script src="~/js/bookingJS/owl.carousel.min.js"></script>
        <script src="~/js/bookingJS/jquery.magnific-popup.min.js"></script>
        <script src="~/js/bookingJS/aos.js"></script>
        <script src="~/js/bookingJS/jquery.animateNumber.min.js"></script>
        <script src="~/js/bookingJS/bootstrap-datepicker.js"></script>
        <script src="~/js/bookingJS/jquery.timepicker.min.js"></script>
        <script src="~/js/bookingJS/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="~/js/bookingJS/google-map.js"></script>
        <script src="~/js/bookingJS/main.js"></script>

        <script>
            var check = 1;
            // 1
            document.getElementById("note-1").onclick = function () {
                if (check == 1) {
                    document.getElementById("content-note_1").style.display = "block"
                    document.getElementById("content-note_2").style.display = "none"
                    document.getElementById("content-note_3").style.display = "none"
                    document.getElementById("content-note_4").style.display = "none"
                    document.getElementById("content-note_5").style.display = "none"
                    document.getElementById("content-note_6").style.display = "none"
                    check = 0
                } else {
                    document.getElementById("content-note_1").style.display = "none"
                    check = 1
                }
            }
            // 2
            var check = 1
            document.getElementById("note-2").onclick = function () {
                if (check == 1) {
                    document.getElementById("content-note_2").style.display = "block"
                    document.getElementById("content-note_1").style.display = "none"
                    document.getElementById("content-note_3").style.display = "none"
                    document.getElementById("content-note_4").style.display = "none"
                    document.getElementById("content-note_5").style.display = "none"
                    document.getElementById("content-note_6").style.display = "none"
                    check = 0
                } else {
                    document.getElementById("content-note_2").style.display = "none"
                    check = 1
                }
            }
            // 3
            var check = 1
            document.getElementById("note-3").onclick = function () {
                if (check == 1) {
                    document.getElementById("content-note_3").style.display = "block"
                    document.getElementById("content-note_1").style.display = "none"
                    document.getElementById("content-note_2").style.display = "none"
                    document.getElementById("content-note_4").style.display = "none"
                    document.getElementById("content-note_5").style.display = "none"
                    document.getElementById("content-note_6").style.display = "none"
                    check = 0
                } else {
                    document.getElementById("content-note_3").style.display = "none"
                    check = 1
                }
            }
            // 4
            var check = 1
            document.getElementById("note-4").onclick = function () {
                if (check == 1) {
                    document.getElementById("content-note_4").style.display = "block"
                    document.getElementById("content-note_1").style.display = "none"
                    document.getElementById("content-note_2").style.display = "none"
                    document.getElementById("content-note_3").style.display = "none"
                    document.getElementById("content-note_5").style.display = "none"
                    document.getElementById("content-note_6").style.display = "none"
                    check = 0
                } else {
                    document.getElementById("content-note_4").style.display = "none"
                    check = 1
                }
            }
            // 5
            var check = 1
            document.getElementById("note-5").onclick = function () {
                if (check == 1) {
                    document.getElementById("content-note_5").style.display = "block"
                    document.getElementById("content-note_1").style.display = "none"
                    document.getElementById("content-note_2").style.display = "none"
                    document.getElementById("content-note_3").style.display = "none"
                    document.getElementById("content-note_4").style.display = "none"
                    document.getElementById("content-note_6").style.display = "none"
                    check = 0
                } else {
                    document.getElementById("content-note_5").style.display = "none"
                    check = 1
                }
            }
            // 6
            var check = 1
            document.getElementById("note-6").onclick = function () {
                if (check == 1) {
                    document.getElementById("content-note_6").style.display = "block"
                    document.getElementById("content-note_1").style.display = "none"
                    document.getElementById("content-note_2").style.display = "none"
                    document.getElementById("content-note_3").style.display = "none"
                    document.getElementById("content-note_4").style.display = "none"
                    document.getElementById("content-note_5").style.display = "none"
                    check = 0
                } else {
                    document.getElementById("content-note_6").style.display = "none"
                    check = 1
                }
            }
        </script>
</body>
</html>